[submodule "GBD-PCG-Python"]
	path = GBD-PCG-Python
	url = https://github.com/A2R-Lab/GBD-PCG-Python
[submodule "GRiD"]
	path = GRiD
	url = https://github.com/A2R-Lab/GRiD
[submodule "BCHOL-python"]
	path = BCHOL-python
	url = https://github.com/A2R-Lab/BCHOL-python.git
